// main: style.scss

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.container::before,
.container:after,
.nav-links::before,
.nav-links::after,
.block4_widget_content::after,
.block4_widget_content::before {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.post-list:after,
.container:after,
.nav-links:after,
.block4_widget_content::after {
	clear: both;
}
