// main: style.scss
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-weight: 600;
	letter-spacing: 1;
	background: #fff;
	border-top: 3px double #e5e5e5;
	border-bottom: 3px double #e5e5e5;
	@include media-breakpoint-down(md) {
		display: none;
	}
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@include media-breakpoint-down(md) {
			margin: 0 -20px;
		}
		ul {
			border-top: none;
			border: 1px solid #e5e5e5;
			padding: 0;
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: -1px;
			}

			li {
				padding: 0;
				border-bottom: 1px solid #e5e5e5;
				margin: 0;
				background: #fff;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
				&:last-child{
					border-bottom: none;
				}
				@include media-breakpoint-down(md){
					border: none;
					padding: 0;
				}
			}

			a {
				width: 200px;
				padding: 10px 25px;
				font-size: 15px;
				background: #f5f5f5;
				@include media-breakpoint-down(md) {
					text-transform: none;
					padding: 10px 0px;
					width: 100%;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
			@include media-breakpoint-down(md) {
				position: static;
				border: none;
				margin: 0;
				padding: 0 20px;
				width: 100%;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		margin-right: 30px;
		&:hover > a,
		&.focus > a {
		}
		@include media-breakpoint-down(md) {
			border-bottom: none;
			border-top: 1px solid #e5e5e5;
			width: 100%;
			margin-right: 0;
			padding: 0 20px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-size: 15px;
		padding: 18px 0;
		color: #111;
		@include media-breakpoint-down(md) {
			padding: 12px 0;
		}
		&:hover {
			text-decoration: none;
			color: #2f6d9e;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__primary;
	}
}

/* header mobie menu */
.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 240px;
    height: 100%;
    background: #1a1a1a;
    padding: 0;
    border-right: 1px solid #000000;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: inset -30px 0px 15px -29px rgba(0,0,0,0.1);
	display: none;
	@include media-breakpoint-down(md) {
		display: block;
	}
	&:after {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		content: '';
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	.header-search-form {
		color: #ffffff;
		width: 100%;
		border-top: 1px solid #222222;
		border-bottom: 1px solid #222222;
		padding: 0;
		overflow: hidden;
		input[type=text] {
			background: #1a1a1a;
		    border: none;
		    color: #ffffff ! important;
		    font-size: 14px;
		    font-weight: bold;
		    width: 80%;
		    padding: 15px;
		    padding-left: 0;
		    margin: 0;
		    -webkit-border-radius: 0;
		    -moz-border-radius: 0;
		    box-shadow: none;
		    -webkit-box-shadow: none;
		}
		button {
			width: auto;
			background: none;
		    float: left;
		    font-size: 18px;
		    color: #ffffff;
		    padding: 13px 10px 15px;
		    -webkit-border-radius: 0;
		    -moz-border-radius: 0;
		    border-radius: 0;
			border: none;
		    outline: 0;
			i {
				position: relative;
				top: -2px;
			}
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		a {
			font-size: 12px;
			font-weight: bold;
			display: block;
			padding: 12px 20px;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			border-bottom: 1px solid #222222;
			-webkit-transition: background 0.3s, box-shadow 0.3s;
			transition: background 0.3s, box-shadow 0.3s;
			&:hover {
				text-decoration: underline;
			}
		}
		ul {
			a {
				padding-left: 30px;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.st-menu-open .st-menu::after {
		width: 0;
		height: 0;
		opacity: 0;
		-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
		transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	}

	/* Effect 3: Push*/
	.st-effect-3.st-menu-open .site-pusher {
		-webkit-transform: translate3d(240px, 0, 0);
		transform: translate3d(240px, 0, 0);
	}

	.st-effect-3.st-menu {
		-webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	}

	.st-effect-3.st-menu-open .st-effect-3.st-menu {
		visibility: visible;
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}

	.st-effect-3.st-menu::after {
		display: none;
	}
}

.header-top-mobile-menu-button {
	display: none;
	background: none;
	cursor: pointer;
	color: #333333;
	font-size: 22px;
	font-weight: bold;
	line-height: 1;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	overflow: hidden;
	z-index: 9999;
	width: auto;
	&:active, &:focus, &:hover {
		background: none;
		border : none;
	}

	@include media-breakpoint-down(md) {
		display: inline-block;
	}
}



@include media-breakpoint-up(md) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}

}


/* Footer Menu */
.menu-footer-menu-container {
	margin: 0;
	padding: 0;
	float: left;
	@include media-breakpoint-down(sm) {
		float: none;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			margin-right: 30px;
			position: relative;
			a {
				color: #aaa;
				font-weight: bold;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}


/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
.social-links {
  margin: 0 auto;
  padding: 0;
	  a {
		  background: transparent;
		  display: inline-block;
		  text-decoration: none;
		  &::before {
			  font-family: "FontAwesome";
			  font-size: 20px;
			  font-style: normal;
			  font-weight: normal;
			  line-height: 1;
			  text-decoration: none;
			  vertical-align: text-bottom;
			  -webkit-font-smoothing: antialiased;
		  }
		  &:hover {
			  background: transparent;
			  color: $color__primary;
			  text-decoration: none;
			  &::before {
				  color: $color__primary;
				  -webkit-transition: 0.2s all ease-in-out;
				  transition: 0.2s all ease-in-out;
			  }
		  }
	  }

}

.social-links ul a[href*='wordpress.org']:before,
.social-links ul a[href*='wordpress.com']:before {
  content: "\f19a";
}

.social-links ul a[href*='facebook.com']:before {
  content: "\f09a";
}

.social-links ul a[href*='twitter.com']:before {
  content: "\f099";
}

.social-links ul a[href*='dribbble.com']:before {
  content: "\f17d";
}

.social-links ul a[href*='plus.google.com']:before {
  content: "\f0d5";
}

.social-links ul a[href*='pinterest.com']:before {
  content: "\f0d2";
}

.social-links ul a[href*='github.com']:before {
  content: '\f09b';
}

.social-links ul a[href*='tumblr.com']:before {
  content: '\f173';
}

.social-links ul a[href*='youtube.com']:before {
  content: '\f167';
}

.social-links ul a[href*='flickr.com']:before {
  content: '\f16e';
}

.social-links ul a[href*='vimeo.com']:before {
  content: '\f27d';
}

.social-links ul a[href*='instagram.com']:before {
  content: '\f16d';
}

.social-links ul a[href*='codepen.io']:before {
  content: '\f1cb';
}

.social-links ul a[href*='linkedin.com']:before {
  content: '\f0e1';
}

.social-links ul a[href*='foursquare.com']:before {
  content: '\f180';
}

.social-links ul a[href*='reddit.com']:before {
  content: '\f1a1';
}

.social-links ul a[href*='digg.com']:before {
  content: '\f1a6';
}

.social-links ul a[href*='getpocket.com']:before {
  content: '\f224';
}

.social-links ul a[href*='path.com']:before {
  content: '\f20c';
}

.social-links ul a[href*='stumbleupon.com']:before {
  content: '\f1a4';
}

.social-links ul a[href*='spotify.com']:before {
  content: '\f1bc';
}

.social-links ul a[href*='twitch.tv']:before {
  content: '\f1e8';
}

.social-links ul a[href*='dropbox.com']:before {
  content: '\f16b';
}

.social-links ul a[href*='/feed']:before {
  content: '\f09e';
}

.social-links ul a[href*='skype']:before {
  content: '\f17e';
}

.social-links ul a[href*='mailto']:before {
  content: '\f0e0';
}

.social-links ul a:before {
  content: '\f415';
}
